// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  visibility: hidden;
}

#show-container {
  overflow:scroll;
  max-width: 90vw;
  max-height: 90vh;
  border: 10px solid black;
}
